- content_for(:title) do
  #{@repository.username}/#{@repository.name} Gemfile
%p#notice= notice

%p
  %span.label
    URL:
  %span.value
    = link_to @repository.url, @repository.url
%p
  %span.label
    USER:
  %span.value
    = link_to @repository.username, @repository.user_url
%p
  %span.label
    NAME:
  %span.value
    = @repository.name

#repository_gemfile
  .fb-like{:data => {:href => request.url, :send => "false", :layout => "box_count", :width => "450"}}
  %h2 Gemfile
  %pre.prettyprint.lang-rb
    = raw @repository.gemfile.body.gsub(/\n/, "<br>")

- content_for(:post_javascript) do
  :javascript
    $(function() {
      prettyPrint();
    });
